* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    /* font-family: "Montserrat", sans-serif;*/
}

:root {
    --primary1-color: hsl(158, 36%, 37%);
    --primary2-color: hsl(158, 42%, 18%);
    --title-color: hsl(212, 21%, 14%);
    --text-color: hsl(228, 12%, 48%);
    --cream-color: hsl(30, 38%, 92%);
    --white-color: hsl(0, 0%, 100%);
}

body {
    max-width: 375px;
    min-height: 100vh;
    background-color: var(--cream-color);
    display: flex;
    justify-content: center;
    text-align: center;
}

.card {
    background-color: aqua;
}

.product {
    height: 320px;
    margin-top: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.card-content {
    background-color: var(--white-color);
    margin: 0 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}