* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: "Montserrat", sans-serif;*/
    /* font-family: "Montserrat", sans-serif;*/
}

:root {
    --primary1-color: hsl(158, 36%, 37%);
    --primary2-color: hsl(158, 42%, 18%);
    --title-color: hsl(212, 21%, 14%);
    --text-color: hsl(228, 12%, 48%);
    --cream-color: hsl(30, 38%, 92%);
    --white-color: hsl(0, 0%, 100%);
}

body {
    background-color: var(--cream-color);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 180px;
}

.card {
    width: 350px;
    background-color: var(--white-color);
    border-radius: 10px; 
    overflow: hidden; /* a imagem corta e respeita o border radius*/
}

.product {
    width: 100%;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
}

